<html>
	<head>
	  <link rel="stylesheet" type="text/css" href="css/main.css">
	  <link rel="stylesheet" href="css/carousel.css"></link>
	  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	  <script type="text/javascript" src="js/carousel.js"></script>
	  <script type="text/javascript" src="js/scroll.js"></script>
	  <title>Brayden Cleary</title>
	</head>
	<body>
	  <div class='welcome' id='home'>
	  	<div class='nav'>
	  		<ul>
	  			<a href='#about'>About Me</a>
	  			<a href='#done'>Things I've done</a>
	  			<a href='#like'>Thing I like</a>
	  		</ul>
	  	</div>
	  	<p>Hello. My name is Brayden Cleary.  Find me at these links:</p>
	  	<ul>
	  	  <li><a href="https://twitter.com/BraydenCleary">Twitter</a></li>
	  	  <li><a href="http://braydencleary.tumblr.com">Tumblr</a></li>
	  	  <li><a href="http://linkedin.com/in/braydencleary">LinkedIn</a></li>
	  	</ul>

	    <ul class="nav">
        <li>Home</li>
        <li><a href="#about">About</a>
        <li><a href="#done">Done</a></li>
        <li><a href="#like">Like</a></li>
   		</ul>
	  </div>


	  <div class='about'>
	  	<h2 id='about'>You are so totally going to love this application.</h2>

	  	<ul class="nav">
	  		<li><a href='#home'>Home<a></li>
  	    <li>About</li>
  	    <li><a href="#done">Done</a></li>
  	    <li><a href="#like">Like</a></li>
	  	</ul>
	  </div>

	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>

	  <div class='done'>
	  	<h2 id='done'>You are so totally going to love this application.</h2>
	  	<ul class="nav">
	  		<li><a href='#home'>Home<a></li>
  	    <li><a href="#about">About</a></li>
  	    <li>Done</li>
  	    <li><a href="#like">Like</a></li>
	  	</ul>
		</div>


	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>

		<div class='like'>
			<h2 id='like'>You are so totally going to love this application.</h2>
	  	<ul class="nav">
	  		<li><a href='#home'>Home<a></li>
  	    <li><a href="#about">About</a></li>
  	    <li><a href="#done">Done</a></li>
  	    <li>Like</li>
	  	</ul>
		</div>




	  <div class="container">
	    <div class="carousel_controls">
	      <a href="#" id="previous_frame">&lt;</a>
	      <a href="#" id="next_frame">&gt;</a>
	    </div>
	    
	    <div class="carousel">
	      <ul class="frames">
	        <li>
	          <img src="http://f.cl.ly/items/3e332b2e0B3d311a1U1X/wargames.jpg" />
	        </li>
	        <li>
	          <img src="http://f.cl.ly/items/2h0Q3P0t0B3Q0N370u43/businessdude.jpg" />
	        </li>
	        <li>
	          <img src="http://f.cl.ly/items/3i2V2V0D3n293d0y2y0U/tron.jpg" />
	        </li>
	      </ul>
	    </div>
	  </div>


		
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>


	</body>

</html>


