<p>Hello. My name is Brayden Cleary.  Find me at these links:</p>
  <ul>
    <li><a href="https://twitter.com/BraydenCleary">Twitter</a></li>
    <li><a href="http://braydencleary.tumblr.com">Tumblr</a></li>
    <li><a href="http://linkedin.com/in/braydencleary">LinkedIn</a></li>
  </ul>
