<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen, projection">
    <link rel="stylesheet" href="css/carousel.css"></link>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <title>Brayden Cleary</title>
  </head>
  <body>
    <nav class='nav'>
      <h1 class='name'>Brayden Cleary</h1>
      <div class='find-me'>
        <ul>
          <li><a href="https://github.com/BraydenCleary"><img src="/images/github.png"></a></li>
          <li><a href="https://twitter.com/BraydenCleary"><img src="/images/twitter.png"></a></li>
          <li><a href="http://braydencleary.tumblr.com"><img src="/images/tumblr.jpeg"></a></li>
          <li><a href="http://linkedin.com/in/braydencleary"><img src="images/linked_in.png"></a></li>
        </ul>
        <p class='me-everywhere'>Me, Everywhere:</p>
      </div>
    </nav>
    <div id='picture-container'>
      <img src='/images/brayden.jpeg' class='self-picture' >
    </div>
    <article>
      <p>My name is Brayden and I live in San Francisco. When I'm not running or eating a veggie burrito, I'm engaging in learning experiences.</p>
      <p>Currently, I'm at <a href='http://devbootcamp.com/'>Dev Bootcamp</a> learning how to build software.</p>
      <p>These are some apps I've worked on using Rails: <a href='http://www.shredset.com'>Shredset</a> and <a href='http://www.inspirely.co'>InspireMe</a>.  I'm eager to improve and appreciate any feedback sent my way.</p>
      <p>Outside of code, here's what I'm currently consuming: <a href='http://www.drfuhrman.com/default.aspx'>Eat to Live</a>, <a href='http://mindsetonline.com/'>Mindset: The New Psychology of Success</a>, and <a href='https://itunes.apple.com/us/podcast/the-rich-roll-podcast/id582272991'>The Rich Roll Podcast</a>.</p>
    </article>
  </body>

</html>


