<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="css/carousel.css"></link>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <script type="text/javascript" src="js/scroll.js"></script>
    <script type="text/javascript" src="js/navigate.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
    <title>Brayden Cleary</title>
  </head>
  <body>
    <div class='welcome' id='home'>
      <nav id='navigation'>
        <span class='title'>Brayden Cleary</span>
        <ul class="nav">
          <li><a href="https://github.com/BraydenCleary"><img src="/images/github.png"></a></li>
          <li><a href="https://twitter.com/BraydenCleary"><img src="/images/twitter.png"></a></li>
          <li><a href="http://braydencleary.tumblr.com"><img src="/images/tumblr.jpeg"></a></li>
          <li><a href="http://linkedin.com/in/braydencleary"><img src="images/linked_in.png"></a></li>
        </ul>
      </nav>

      <img id='brayden-image' src="images/brayden.jpeg">

      <div class='intro'>
        <h2>Hi</h2>
        <p>My name is Brayden and I live in San Francisco. When I'm not running or eating a veggie burrito, I'm engaging in learning experiences. Currently, I'm at <a href='http://devbootcamp.com/'>Dev Bootcamp</a> learning how to build software. The rest of this site aims to give you a glimpse of who I am. Please enjoy.</p>
      </div>

      <div class='about-me'>
        <h2>About Me</h2>
        <p>I get a rush when coding because I can be creative and constantly expand my knowledge base. According to <a href='http://www.youtube.com/watch?v=HuoVM9nm42E'>Jim Valvano</a>, there are three things we should do everyday: Laugh, think, and cry. While I don't generally cry while programming, spontaneous laughter and learning are the norm when working on project.
        </p>
      </div>

      <div class='things-done'>
        <h2>Things I've Built</h2>
        <p>These are some apps I've built using Rails. I am eager to improve and appreciate any feedback sent my way.</p>
          <ul>
            <li><a href='http://www.shredset.com'>Shredset</a></li>
            <li><a href='#'>InspireMe</a></li>
            <li><a href='#'>SurveyTime</a></li>
          </ul>
      </div>

      <div class='things-like'>
        <h2>Things I Like</h2>
        <p>I enjoy learning about nutrition, philosophy, and psychology. Here's what I'm currently consuming:</p>
        <ul>
          <li><a href='http://www.drfuhrman.com/default.aspx'>Eat to Live by Joel Fuhrman</a></li>
          <li><a href='http://mindsetonline.com/'>Mindset: The New Psychology of Success by Carol Dweck</a></li>
          <li><a href='https://itunes.apple.com/us/podcast/the-rich-roll-podcast/id582272991'>The Rich Roll Podcast</a></li>
        </ul>
      </div>




  </body>

</html>


